<mat-sidenav-container>
  <mat-sidenav
    class="se-sidenav"
    #rfnav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.width]="mobileQuery.matches ? '215px' : '250px'"
    role="region"
    fixedInViewport="true"
  >
    <div class="flex justify-end" *ngIf="mobileQuery.matches">
      <button mat-icon-button aria-label="Close sidenav" title="Close sidenav" (click)="rfnav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- user info -->
    <div class="se-avatar-container">
      <i class="material-icons" aria-hidden="true">account_circle</i>
      <div>
        <p class="mat-headline-6">{{ username }}</p>
        <p class="mat-body-2">{{ firstName }} {{ lastName }}</p>
      </div>
    </div>
    <!-- navigation -->
    <mat-nav-list>
      <mat-divider></mat-divider>

      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap produktet"
        title="Hap produktet"
        [activated]="this.router.url === '/products'"
        (click)="navigateToProducts()"
      >
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <div matListItemTitle class="flex items-center">
          Inventari
        </div>
      </button>

      <mat-divider></mat-divider>
      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap historikun e shitjeve"
        title="Hap historikun e shitjeve"
        [activated]="this.router.url === '/sales' || this.router.url === '/add-sale'"
        (click)="navigateToSales()"
      >
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle class="flex items-center">
          Shitjet
          <mat-icon *ngIf="!isSaleMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isSaleMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isSaleMenuOpen" class="submenu">
        <button
          *ngIf="authApiService.canWrite()"
          mat-list-item
          aria-label="Shto nje shitje"
          title="Shto nje shitje"
          [activated]="this.router.url === '/add-sale'"
          (click)="this.router.navigate(['/add-sale'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje shitje</div>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap historikun e furnizimeve"
        title="Hap historikun e furnizimeve"
        [activated]="this.router.url === '/restocks' || this.router.url === '/add-product'"
        (click)="navigateToRestocks()"
      >
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <div matListItemTitle class="flex items-center">
          Furnizimet
          <mat-icon *ngIf="!isRestockMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isRestockMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isRestockMenuOpen" class="submenu">
        <button
          *ngIf="authApiService.canWrite()"
          mat-list-item
          aria-label="Shto nje produkt"
          title="Shto nje produkt"
          [activated]="this.router.url === '/add-product'"
          (click)="this.router.navigate(['/add-product'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje produkt</div>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button
        mat-list-item
        aria-label="Hap raportet"
        title="Hap raportet"
        [activated]="this.router.url === '/reports'"
        (click)="this.router.navigate(['/reports'])"
      >
        <mat-icon matListItemIcon>assessment</mat-icon>
        <div matListItemTitle>Raportet</div>
      </button>
      <mat-divider></mat-divider>

      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap listen e klienteve"
        title="Hap listen e klienteve"
        [activated]="this.router.url === '/clients' || this.router.url === '/add-client'"
        (click)="navigateToClients()"
      >
        <mat-icon matListItemIcon>contacts</mat-icon>
        <div matListItemTitle class="flex items-center">
          Klientet
          <mat-icon *ngIf="!isClientMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isClientMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isClientMenuOpen" class="submenu">
        <button
          *ngIf="authApiService.canWrite()"
          mat-list-item
          aria-label="Shto nje klient"
          title="Shto nje klient"
          [activated]="this.router.url === '/add-client'"
          (click)="this.router.navigate(['/add-client'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje klient</div>
        </button>
      </div>
      <mat-divider></mat-divider>

      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap listen e furnitoreve"
        title="Hap listen e furnitoreve"
        [activated]="this.router.url === '/suppliers' || this.router.url === '/add-supplier'"
        (click)="navigateToSuppliers()"
      >
        <mat-icon matListItemIcon>local_shipping</mat-icon>
        <div matListItemTitle class="flex items-center">
          Furnitoret
          <mat-icon *ngIf="!isSupplierMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isSupplierMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isSupplierMenuOpen" class="submenu">
        <button
          *ngIf="authApiService.canWrite()"
          mat-list-item
          aria-label="Shto nje furnitor"
          title="Shto nje furnitor"
          [activated]="this.router.url === '/add-supplier'"
          (click)="this.router.navigate(['/add-supplier'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje furnitor</div>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar class="se-toolbar" role="toolbar">
      <!-- open menu and title -->
      <div class="flex items-center">
        <button
          mat-icon-button
          (click)="rfnav.toggle()"
          [title]="rfnav.opened ? 'Close sidenav' : 'Open sidenav'"
          [attr.aria-label]="rfnav.opened ? 'Close sidenav' : 'Open sidenav'"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1>ERP System</h1>
      </div>
      <div class="flex items-end gap-4">
        <!-- dark/light mode -->
        <button
          (click)="this.darkModeService.toggleDarkMode()"
          mat-stroked-button
          [attr.aria-label]="(this.darkModeService.darkMode$ | async) ? 'Switch to light mode' : 'Switch to dark mode'"
          [title]="(this.darkModeService.darkMode$ | async) ? 'Switch to light mode' : 'Switch to dark mode'"
        >
          <mat-icon style="margin: 0">{{ (this.darkModeService.darkMode$ | async) ? "light_mode" : "dark_mode" }}</mat-icon>
        </button>
        <!-- Shopping Menu button -->
        <!-- <button mat-stroked-button (click)="toggleRightNav()" title="Shopping Menu">
          <mat-icon>shopping_bag</mat-icon>
        </button> -->
        <!-- logout -->
        <button (click)="logout()" mat-stroked-button aria-label="Logout" title="Logout">
          <mat-icon style="margin: 0">logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- main content -->
    <div class="py-4 px-5">
      <router-outlet></router-outlet>
    </div>
    <!-- end main content -->
  </mat-sidenav-content>
</mat-sidenav-container>

