<mat-sidenav-container>
  <mat-sidenav
    class="se-sidenav"
    #rfnav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.width]="mobileQuery.matches ? '215px' : '250px'"
    role="region"
    fixedInViewport="true"
  >
    <div class="flex justify-end" *ngIf="mobileQuery.matches">
      <button mat-icon-button aria-label="Close sidenav" title="Close sidenav" (click)="rfnav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- user info -->
    <div class="se-avatar-container">
      <i class="material-icons" aria-hidden="true">account_circle</i>
      <div>
        <p class="mat-headline-6">{{ username }}</p>
        <p class="mat-body-2">{{ firstName }} {{ lastName }}</p>
      </div>
    </div>
    <!-- navigation -->
    <mat-nav-list>
      <mat-divider></mat-divider>

      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap produktet"
        title="Hap produktet"
        [activated]="this.router.url === '/products' || this.router.url === '/add-product'"
        (click)="navigateToProducts()"
      >
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <div matListItemTitle class="flex items-center">
          Inventari
          <mat-icon *ngIf="!isProductMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isProductMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isProductMenuOpen" class="submenu">
        <button
          mat-list-item
          aria-label="Shto nje produkt"
          title="Shto nje produkt"
          [activated]="this.router.url === '/add-product'"
          (click)="this.router.navigate(['/add-product'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje produkt</div>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button
        mat-list-item
        aria-label="Hap historikun e shitjeve"
        title="Hap historikun e shitjeve"
        [activated]="this.router.url === '/sales'"
        (click)="this.router.navigate(['/sales'])"
      >
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>Shitjet</div>
      </button>
      <mat-divider></mat-divider>

      <button
        class="flex flex-row"
        mat-list-item
        aria-label="Hap listen e klienteve"
        title="Hap listen e klienteve"
        [activated]="this.router.url === '/clients' || this.router.url === '/add-client'"
        (click)="navigateToClients()"
      >
        <mat-icon matListItemIcon>contacts</mat-icon>
        <div matListItemTitle class="flex items-center">
          Klientet
          <mat-icon *ngIf="!isClientMenuOpen">expand_less</mat-icon>
          <mat-icon *ngIf="isClientMenuOpen">expand_more</mat-icon>
        </div>
      </button>

      <div *ngIf="isClientMenuOpen" class="submenu">
        <button
          mat-list-item
          aria-label="Shto nje klient"
          title="Shto nje klient"
          [activated]="this.router.url === '/add-client'"
          (click)="this.router.navigate(['/add-client'])"
        >
          <mat-icon matListItemIcon>add</mat-icon>
          <div matListItemTitle>Shto nje klient</div>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar class="se-toolbar" role="toolbar">
      <!-- open menu and title -->
      <div class="flex items-center">
        <button
          mat-icon-button
          (click)="rfnav.toggle()"
          [title]="rfnav.opened ? 'Close sidenav' : 'Open sidenav'"
          [attr.aria-label]="rfnav.opened ? 'Close sidenav' : 'Open sidenav'"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Selita Fish</h1>
      </div>
      <div class="flex items-end gap-4">
        <!-- dark/light mode -->
        <button
          (click)="this.darkModeService.toggleDarkMode()"
          mat-stroked-button
          [attr.aria-label]="this.darkModeService.darkMode ? 'Active dark mode' : 'Active light mode'"
          [title]="this.darkModeService.darkMode ? 'Active dark mode' : 'Active light mode'"
        >
          <mat-icon style="margin: 0">{{ this.darkModeService.darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
        </button>
        <!-- Shopping Menu button -->
        <!-- <button mat-stroked-button (click)="toggleRightNav()" title="Shopping Menu">
          <mat-icon>shopping_bag</mat-icon>
        </button> -->
        <!-- logout -->
        <button (click)="logout()" mat-stroked-button aria-label="Logout" title="Logout">
          <mat-icon style="margin: 0">logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- main content -->
    <div class="py-4 px-5">
      <router-outlet></router-outlet>
    </div>
    <!-- end main content -->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container>
  <mat-sidenav
    class="right-sidenav"
    #rightNav
    [opened]="isRightNavOpen"
    position="end"
    [style.width]="'300px'"
    [style.height]="'50%'"
    role="region"
    fixedInViewport="true"
  >
    <div class="header">
      <h2>Shopping Menu</h2>
      <button mat-icon-button (click)="toggleRightNav()" aria-label="Close right nav">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="right-nav-content">
      <div *ngFor="let item of cartItems" class="cart-item-card">
        <h3>{{ item.name }}</h3>
        <p>Kategoria: {{ item.category }}</p>
        <p>Cmimi: {{ item.price | currency }}</p>
        <p>Sasia: {{ item.count }}x</p>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
