<div class="add-supplier-container">
  <h2>Shto nje Furnitor</h2>
  <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Supplier Name -->
      <mat-form-field class="full-width">
        <mat-label>Emri</mat-label>
        <textarea matInput formControlName="firstname" required></textarea>
        <mat-error *ngIf="supplierForm.controls['firstname'].hasError('required')"> Firstname is required </mat-error>
      </mat-form-field>

      <!-- Lastname -->
      <mat-form-field class="full-width">
        <mat-label>Mbiemri</mat-label>
        <textarea matInput formControlName="lastname" required></textarea>
        <mat-error *ngIf="supplierForm.controls['lastname'].hasError('required')"> lastname is required </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="supplierForm.controls['email'].hasError('email')"> Invalid email format </mat-error>
      </mat-form-field>

      <!-- Phone number -->
      <mat-form-field class="full-width">
        <mat-label>Num. Cel</mat-label>
        <textarea matInput formControlName="phone"></textarea>
        <mat-error *ngIf="supplierForm.controls['phone'].hasError('pattern')"> Invalid phone number format </mat-error>
      </mat-form-field>

      <!-- Address -->
      <mat-form-field class="full-width">
        <mat-label>Adresa</mat-label>
        <textarea matInput formControlName="address" required></textarea>
        <mat-error *ngIf="supplierForm.controls['address'].hasError('required')"> Address is required </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!supplierForm.valid">Shto furnitorin</button>
      </div>
    </div>
  </form>
</div>
