<div class="flex flex-col items-stretch">
  <!-- Search Input Field -->
  <mat-form-field class="sm:w-1/2 md:w-2/5">
    <mat-label>Kerko produktin</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Kerko me emer" />
  </mat-form-field>

  <app-chips (selectedCategories)="filterByCategories($event)"></app-chips>

  <!-- Product Table Component -->
  <app-product-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (buyProduct)="buyProductButton($event)"
  >
  </app-product-table>
</div>
